@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  font-family: "Press Start 2P", system-ui;
}

.header {
  display: flex;
  margin: 16px;
  min-height: 96px;
}

.header h1 {
  position: absolute;
  left: 160px;
  top: 48px;
}

@media only screen and (max-width: 860px) {
  .header { min-height: 128px; }
}

@media only screen and (max-width: 580px) {
  .header h1 { font-size: 1.75rem; }
}

@media only screen and (max-width: 524px) {
  .header { min-height: 176px; }
}

.nes-container {
  margin: 16px;
}

.center {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

dialog {
  position: absolute;
  top: 240px; 
  z-index: 5000;
}

footer {
  margin: 16px;
  bottom: 0px;
}
